<%- include('../partials/header') %>

<div class="container">
    <div class="row">
    <div class="offset-md-3 col-md-6 ps-0 pe-0">

        <h2>MEMOS</h2>

        <% memos.forEach(function(m) { %>
        <div class="memo">
            <p class="memo-details"><%= m.formattedDate %></p>
            <p class="memo-details"><%= m.location %></p>
            <p class="memo-details bold-name"><%= m.networkName %></p>
            <p class="memo-details"><%= m.note %></p>
            <% if (m.image && m.image !== 'defaultImageURLHere') { %>
                <img src="<%= m.image %>" alt="uploaded image">
            <% } %>
            
            <section class="memo-cta">
                    <form action="/memos/<%= m._id %>/edit" method="GET">
                        <button type="submit" class=" btn memo-icon"><img src="/images/icon-edit.png" alt="edit"></button>
                    </form>
                <% if (user && user._id.equals(m.user)) { %>
                    <form action="/memos/<%= m._id %>?_method=DELETE" method="POST" onsubmit="return confirmDelete()">
                        <button class="btn memo-icon" type="submit"><img src="/images/icon-close.png" alt="delete"></button>
                    </form>
                <% } %>
            </section>

            <hr class="memo-divider">
        </div>
        <% }); %>

    <script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete?');
    }
    </script>

    </div>
    </div>
</div>

<%- include('../partials/footer') %>
