<%- include('../partials/header') %>

<h1>/m</h1>

<section>
<% memos.forEach(function(m) { %>
    <p><%= m.formattedDate %></p>
    <p><%= m.location %></p>
    <p><%= m.note %></p>
    <form action="/memos/<%= m._id %>/edit" method="GET">
        <button type="submit">Edit</button>
    </form>
    <hr>
<% }); %>
</section>

<%- include('../partials/footer') %>