<%- include('../partials/header') %>

<h1>Networks</h1>
<a href="/networks/new" class="iconButton">Add Someone</a>

<section>
<% networks.forEach(function(n) { %>
    <a href="/networks/<%= n._id %>"><p><%= n.name %></p></a> 
    <p><%= n.email %></p>
    <p><%= n.phone %></p>
    <% if (n.image && n.image !== 'defaultImageURLHere') { %>
        <img src="<%= n.image %>" alt="uploaded image" style="width: 40px; height: 40px;">
    <% } %>
    <form action="/networks/<%= n._id %>/edit" method="GET">
        <button type="submit">Edit</button>
    </form>
    <% if (user && user._id.equals(n.user)) { %>
        <form action="/networks/<%= n._id %>?_method=DELETE" method="POST" onsubmit="return confirmDelete()">
            <button type="submit">Delete</button>
        </form>
    <% } %>
    <hr>
<% }); %>
</section>

<script>
function confirmDelete() {
    return confirm('Are you sure you want to delete?');
}
</script>

<%- include('../partials/footer') %>
