<%- include('../partials/header') %>

<div class="container">
    <div class="row">
    <div class="offset-md-3 col-md-6 ps-0 pe-0">

    <section class="d-flex justify-content-between align-items-start">
        <% if (n.image && n.image !== 'defaultImageURLHere') { %>
            <img src="<%= n.image %>" alt="<%= n.name %>'s profile image" class="img-fluid img-profileShow" onclick="showImageModal(this.src);">
        <% } else { %>
            <img src="/images/default-profile-image.png" alt="Default Profile Image" style="max-width: 72px; height: auto; margin-bottom: 20px;">
        <% } %>

        <!-- Back button to previous page using browser history -->
        <!-- <a href="#" class="btn btn-link" onclick="window.history.back(); return false;">Back</a> -->
    </section>
    
    <section class="entry">
        <section>
            <h2 class="me-3" id="profileTitle"><%= n.name %></h2>
            <div class="entry">
                <p class="entry-details"><%= n.email ? n.email : '@' %></p>
                <p class="entry-details"><%= n.phone ? n.phone : '#' %></p>
            </div>
        </section>
        <section class="entry-cta d-flex flex-column align-items-end">
            <section class="hstack">
                <form action="/networks/<%= n._id %>/edit" method="GET">
                    <button class="btn entry-icon" type="submit"><img src="/images/icon-edit.png" alt="edit"></button>
                </form>
                <form action="/networks/<%= n._id %>/edit-image" method="GET">
                    <button class="btn entry-icon" type="submit"><img src="/images/icon-image.png" alt="edit"></button>
                </form>
            </section>
            <form action="/networks/<%= n._id %>?_method=DELETE" method="POST" onsubmit="return confirmDelete()">
                <button class="btn entry-icon" type="submit"><img src="/images/icon-close.png" alt="delete"></button>
            </form>
        </section>
    </section>

    <!-- TODO: Refactor this secondary navigation into tab UI  -->
    <h5>Memos</h5>
    <hr class="network-divider">

    <!-- Same as memo/index but filtered for network ID -->
    <% memos.forEach(function(m) { %>
        <div class="entry">
            <p class="entry-details"><%= m.formattedDate %></p>
            <p class="entry-details"><%= m.location %></p>
            <p class="entry-details bold-name"><%= m.networkName %></p>
            <p class="entry-details"><%= m.note %></p>
            <% if (m.image && m.image !== 'defaultImageURLHere') { %>
                <img src="<%= m.image %>" alt="uploaded image" onclick="showImageModal(this.src);" loading="lazy" class="memo-img">
            <% } %>
            
            <section class="entry-cta">
                <form action="/memos/<%= m._id %>/edit" method="GET">
                    <button type="submit" class=" btn entry-icon"><img src="/images/icon-edit.png" alt="edit"></button>
                </form>
                <form action="/memos/<%= m._id %>?_method=DELETE" method="POST" onsubmit="return confirmDelete()">
                    <button class="btn entry-icon" type="submit"><img src="/images/icon-close.png" alt="delete"></button>
                </form>
            </section>

            <hr class="memo-divider">
        </div>
    <% }); %>

    <nav aria-label="Page-navigation" class="d-flex justify-content-center align-items-center">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <!-- Pagination UI -->
            <div>
                <ul class="pagination mb-0">
                    <% for(let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="/networks/<%= n._id %>?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <!-- Back to top -->
            <div class="ms-2">
                <button onclick="scrollToTop()" class="btn btn-outline-secondary">Back to Top</button>
            </div>
        </div>
    </nav>


    </div>
    </div>
</div>

<!-- Bootstrap image modal UI -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap image modal -->
<script>
    function showImageModal(src) {
        document.getElementById('modalImage').src = src;
        
        var imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
        imageModal.show();
    }
</script>

<!-- Delete confirmation modal -->
<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete?');
    }
</script>

<!-- Loading spinner -->
<script>
    function scrollToTop() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    }
</script>

<%- include('../partials/footer') %>